div.item-preview {
  .preview-link{
    img {
      width: 200px;
      margin-bottom: 15px;
    }

    video {
      width: 100%;
      max-height: 165px;
      margin: 0;
    }
  }

  a {
    color: white;

    &:hover {
      color: white;
    }
  }

  background: #5CB85C;
  border: 5px solid white;
  padding: 0;
  color: white;

  h5 {
    padding: 0 1rem;
  }
}