div.item-preview {
  .preview-link{
    img {
      width: 200px;
      margin-bottom: 15px;
    }

    video {
      width: 100%;
      margin: 0;
    }
  }


  background: #5CB85C;
  border: 5px solid white;
  padding: 0;
  color: white;

  h5 {
    padding: 0 1rem;
  }
}